@model ControleDocumentos.Models.ChamadaModel

<h1>@(string.Format("Chamada para o evento {0}", Model.NomeEvento))</h1>
<br />

@using (Html.BeginForm("FazerChamada", "Evento", FormMethod.Post, new { @class = "frm-submit-chamada" }))
{
    @Html.Hidden("idEvento", Model.IdEvento)

    <div class="form-group">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nome do aluno</th>
                    <th>Presente?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var aluno in Model.Alunos)
                {
                    <tr>
                        <td>@aluno.Usuario.Nome</td>
                        <td>
                            <input type="checkbox" name="idAlunos" value="@aluno.IdAluno">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <div class="text-right form-group">
        <a type="button" class="btn btn-default btnCancelarChamada" url="@Url.Action("Index", "Evento")">Voltar</a>
        <button type="submit" class="btn btn-primary">Finalizar chamada</button>
    </div>
}

