@model List<ControleDocumentosLibrary.Evento>
<table class="table table-striped table-bordered commmon-datatable">
    <thead>
        <tr>
            <th>Nome do evento</th>
            <th>Cursos</th>
            <th>Período</th>
            <th>Vagas disponíveis</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ev in Model)
            {
            <tr>
                <td>@ev.NomeEvento</td>
                <td>@(ev.Curso != null ? string.Join(" / ", ev.Curso.Select(x => x.Nome)) : "")</td>
                <td>@(ev.DataInicio.ToString("dd/MM/yyyy HH:mm") + " a " + ev.DataFim.ToString("dd/MM/yyyy HH:mm"))</td>
                <td>@(ev.Vagas - ev.VagasPreenchidas)</td>
                <td>@(ControleDocumentos.Util.Extension.EnumExtensions.GetEnumDescription(ev.Status))</td>
                <td class="center">
                    @if (ControleDocumentos.Util.Utilidades.UsuarioLogado.Permissao == ControleDocumentosLibrary.EnumPermissaoUsuario.aluno)
                    {
                        <a class="btnCadastro" data-rel="tooltip" title="Visualizar" href="#" url="@Url.Action("CadastrarEvento", "Evento", new { idEvento = ev.IdEvento })">
                            <i class="icon-action fa fa-eye"></i>
                        </a>
                        if (ev.AlunoEvento.Any(x => x.Aluno.IdUsuario == ControleDocumentos.Util.Utilidades.UsuarioLogado.IdUsuario))
                        {
                            <a class="btnConfirm" data-rel="tooltip" title="Cancelar participação" href="#" url="@Url.Action("CarregaModalConfirmacaoParticipacao", "Evento", new { idEvento = ev.IdEvento, presente = false })">
                                <i class="icon-action presencaConfirmada fa fa-thumbs-up"></i>
                            </a>
                        }
                        else if (ev.VagasPreenchidas <= ev.Vagas)
                        {
                            <a class="btnConfirm" data-rel="tooltip" title="Confirmar participação" href="#" url="@Url.Action("CarregaModalConfirmacaoParticipacao", "Evento", new { idEvento = ev.IdEvento, presente = true })">
                                <i class="icon-action presencaConfirmada fa fa-thumbs-o-up "></i>
                            </a>
                        }
                    }
                    else {
                        <a class="btnCadastro" data-rel="tooltip" title="@(ev.Status == ControleDocumentosLibrary.EnumStatusEvento.cancelado || ev.Status == ControleDocumentosLibrary.EnumStatusEvento.concluido ? "Visualizar" : "Editar")" href="#" url="@Url.Action("CadastrarEvento", "Evento", new { idEvento = ev.IdEvento })">
                            <i class="icon-action @(ev.Status == ControleDocumentosLibrary.EnumStatusEvento.cancelado || ev.Status == ControleDocumentosLibrary.EnumStatusEvento.concluido ? "fa fa-eye" : "fa fa-edit")"></i>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>