@model ControleDocumentosLibrary.SolicitacaoDocumento
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table style="font-family: 'Tahoma', sans-serif; font-size: 12pt; width: 652px; color: #048FC6">
        <tr style="height: 50px; vertical-align: top; font-size: 18pt;">
            <td colspan="2">
                Você recebeu uma solicitação de documento!
            </td>
        </tr>
        <tr><td colspan="2" height="20px"></td></tr>
        <tr>
            <td style="width: 15%">
                <span style="color: #888888">Documento: </span>
            </td>
            <td style="width: 25%">
                <span style="color: #444444">@Model.Documento.TipoDocumento.TipoDocumento1</span>
            </td>
        </tr>
        <tr>
            <td style="width: 15%">
                <span style="color: #888888">Prazo: </span>
            </td>
            <td style="width: 15%">
                <span style="color: #444444">@Model.DataLimite.ToShortDateString()</span>
            </td>
        </tr>
        <tr>
            <td style="width: 15%">
                <span style="color: #888888">Observações:</span>
            </td>
            <td style="width: 15%">
                <span style="color: #444444">@Model.Observacao</span>
            </td>
        </tr>
        <tr><td colspan="2" height="20px"><span style="color: #444444">Você pode acessar o sistema de controle de documentos no link <a href="@ViewBag.urlSave">@ViewBag.urlSave</a></span></td></tr>
    </table>
</body>
</html>
