@model ControleDocumentosLibrary.Curso

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Cadastro de curso</h4>
    </div>
    @using (Html.BeginForm("SalvarCurso", "Curso", FormMethod.Post, new { @class = "frm-submit-modal" }))
    {
        <div class="modal-body">
            @Html.HiddenFor(x => x.IdCurso)
            <div class="form-group">
                @Html.Label("Nome*")
                @Html.TextBoxFor(x => x.Nome, new { @class = "form-control", @maxlength = 50, @required = "required" })
            </div>
            <div class="form-group">
                @Html.Label("Coordenador*")
                @Html.DropDownListFor(x => x.Funcionario.IdFuncionario, (SelectList)ViewBag.Coordenadores, new { @id = "ddlCoordenador", @class = "form-control", @required = "required" })
                <a class="form-inline" data-rel="tooltip" title="Atualizar lista de coordenadores" href="#" url="@Url.Action("AtualizarCoordenadores","Curso")">
                    <i class="icon-action fa fa-refresh"></i>
                </a>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    }
</div>
