@model ControleDocumentos.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml ";
}



<div class="form-signin">
    <div class="form-control">
        @using (Html.BeginForm("Login", "Account"))
        {            
            <br />
            @Html.ValidationSummary(true)
            <fieldset>
                @Html.EditorFor(model => model.UserName, new { HtmlAttributes = new { @placeholder = "Usuário", @class = "form-control", @tipo = "text" } })
                @Html.EditorFor(model => model.Password, new { HtmlAttributes = new { @placeholder = "Senha", @class = "form-control", @tipo = "password" } })             
                <div style="padding: 5px 0px 5px 0px">
                    @Html.ValidationMessageFor(model => model.UserName)<br />
                    @Html.ValidationMessageFor(model => model.Password)<br />
                </div>
                <p>
                    <input type="submit" value="Entrar" class="btn login btn-lg btn-primary btn-block" />
                </p>

                @Html.HiddenFor(model => model.ReturnUrl)

            </fieldset>
        }

        <p>@ViewBag.Erro</p>
    </div>
</div>

