@model List<ControleDocumentosLibrary.Documento>
<form action="@Url.Action("List", "Documento")" method="get" class="form-filter">
    <table class="table table-striped table-bordered commmon-datatable">
        <thead>
            <tr>
                <th>Nome do aluno</th>
                <th>Curso</th>
                <th>Tipo de documento</th>
                <th>Data de envio</th>
                <th>Documento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doc in Model)
            {
                <tr>
                    <td>@doc.AlunoCurso.Aluno.Usuario.Nome</td>
                    <td>@doc.AlunoCurso.Curso.Nome</td>
                    <td>@doc.TipoDocumento.TipoDocumento1</td>
                    <td>@doc.Data.ToShortDateString()</td>
                    <td>@doc.NomeDocumento</td>
                    <td class="center">
                        @if (!string.IsNullOrEmpty(doc.NomeDocumento)) {
                        <a data-rel="tooltip" title="Baixar" href="@Url.Action("Download","Documento",new { nomeDoc = doc.NomeDocumento })">
                            <i class="fa fa-download icon-action"></i>
                        </a>
                        }
                        <a class="btnCadastro" data-rel="tooltip" title="Editar" href="#" url="@Url.Action("CadastrarDocumento","Documento", new { idDoc = doc.IdDocumento })">
                            <i class="fa fa-edit icon-action"></i>
                        </a>
                        <a class="btnConfirm" data-rel="tooltip" title="Excluir" url="@Url.Action("CarregaModalExclusao","Documento", new { idDoc = doc.IdDocumento })" href="#">
                            <i class="fa fa-trash-o icon-action"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>